@import url('https://fonts.googleapis.com/css?family=Cuprum|Pacifico&display=swap');
.navbar-brand {
    font-size: 40px;
    font-family: 'Cuprum', sans-serif;
}

.navbar {
    background-color:rgb(18, 8, 54);
}

.navbar-text {
    color: white;
    font-size: 20px; 
}
