#adminEditCap {
    width: 900px; 
    padding: 50px; 
    margin-left: 25%; 
    margin-top: 60px;
    border-radius: 20px; 
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(18, 8, 54);
    opacity: 0.95; 
    color: white; 
}

.card h5 {
    font-size: 24px;
}

