body {
    background: url("./assets/images/mainback4.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}